{
  "env": {
    "development": {
      "presets": "next/babel",
      "plugins": [
        ["module-resolver", {
          "root": ["./src"]
        }]
      ]
    },
    "production": {
      "presets": "next/babel",
      "plugins": [
        ["module-resolver", {
          "root": ["./src"]
        }]
      ]
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ],
      "plugins": [
        ["module-resolver", {
          "root": ["./src"]
        }]
      ]
    }
  } 
}